*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild

gradlew

build\.gradle

gradle\.properties

gradlew\.bat

settings\.gradle

\.idea/

gradle/

app/src/androidTest/java/com/example/getmotion/ExampleInstrumentedTest\.java

app/src/test/java/com/example/getmotion/ExampleUnitTest\.java

app/proguard-rules\.pro

app/app-release\.apk
